.container {
  margin: 20px auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startBtn {
  padding: 15px 20px;
  background-color: #22caca;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
